*{
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.appWrapper {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  grid-area: header;
}
navbar {
  grid-area: nav;
}
main {
  grid-area: content;
}


.d-flex{
  display: flex;
}

a{
  text-decoration: none;
}


/* btn*/

.baseBtn {
  padding: 10px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: darkblue;
  border-radius: 5px;
  margin: 10px;
}

.form-control{
  padding: 10px;
}