

.userProfile{

}
.userProfile img{
    width: 150px;
    height: 150px;
}

.userInfo {
    margin-left: 20px;
    margin-top: 5px;
    flex-direction: column;
}
.userInfo span:first-child{
    margin-bottom: 10px;
    font-size: 22px;
}